@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Rubik+Bubbles&display=swap');
.titulo {
    font-family: 'Rubik Bubbles', cursive;
    color: rgb(31, 28, 34);
    font-weight: 100;
}

.parrafo {
    font-family:sans-serif;
}

.titulo-imagen {
    font-weight: bold;
    color: rgb(255, 255, 255);
}